h1{
    color: blueviolet;
}
p{
    color: blue;
}
div{
    color: brown;
}
.padre{
    background: red;
    height: 300px;
    width: 300px;
    margin: 50px 50px 100px 100px;
}
.hijo{
    height: 100px;
    width: 100px;
    background: black;
    padding: 100px;
}